body.index {
	padding-top: 90px;
}

nav li, nav a, nav span {
	line-height: 44px !important;
	vertical-align: middle;
}

nav img {
	width: 200px;
}

footer {
	margin-top: 10px;
	margin-bottom: 10px;
}

footer div.col-lg-12 {
	border-top: 1px solid gray;
	padding-top: 5px;
}

img.screen {
	padding: 7px;
	border: 1px dashed rgb(213, 210, 210);
}

.ng-enter {
	transition: 0.5s;
	opacity: 0;
}

.ng-enter-active {
	opacity: 1;
}

.ng-leave {
	transition: 0.5s;
	opacity: 1;
}

.ng-leave-active {
	opacity: 0;
}

input.ng-invalid.ng-dirty {
	border-color: red;
}